/* BASIC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
body
{
    background: linear-gradient(rgba(53, 124, 218, 0.2), rgba(90, 128, 158, 0.2)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-position: center;
    background-image:url("https://assets.kpmg/content/dam/kpmgblogs/in/images/post/2020/07/how-covid-19-accelerating-digitalisation-banking-payments-industry.jpg/jcr:content/renditions/original");
    
    
    margin: 0;
}
.socials
{
    font-size: 36px;
}
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav-links a {
    color: rgb(255, 254, 254);
}

/* LOGO */
.logo1 img {
    padding-left: 25%;
}

/* Social Media Icons */
.fb {
    padding: 5px 0px 0px 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.ld {
    color: rgb(255, 255, 255);
    padding: 5px 0px 0px 20px;
    font-weight: bold;
}

.ig {
    color: rgb(255, 255, 255);
    padding: 5px 0px 0px 20px;
    font-weight: bold;
}

.fb:hover,
.ig:hover,
.ld:hover {
    color: rgb(59, 59, 59);
}


/* NAVBAR MENU */
.menu1 {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu1 li:hover {
    background-color: rgb(59, 59, 59);
    font-weight: bold;
}

.menu1 li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(0, 0, 0);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 18px;
    top: 35px;
}

.dropdown1 li+li {
    margin-top: 8px;
}

.dropdown1 li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown1 li:hover {
    background-color: rgb(59, 59, 59);
}

.services:hover .dropdown1 {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX TRICK */
input[type=checkbox1] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu1 {
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu1 li:hover {
        display: inline-block;
        background-color: rgb(59, 59, 59);
        transition: 0.3s ease;
    }

    .menu1 li+li {
        margin-top: 12px;
    }

    input[type=checkbox1]:checked~.menu1 {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown1 {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown1 li:hover {
        background-color: rgb(59, 59, 59);
    }
}

/* TEXT IN CENTER */
.homepage {
    font-size: 50px;
    padding: 20% 0% 10% 35%;
}
@media (max-width: 768px){
    .homepage{
        font-size: 30px;
        padding: 40% 0% 10% 22%;
    }
}